body {
}
#root {
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 597.2px);
  overflow: hidden;
}
.page {
  /* width: 100%; */
  min-height: calc(100vh - 597.2px);
}
nav {
  width: 100%;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
}
.navbar ul li a {
  transition: color 0.3s;
}
.active {
  background-color: red;
}
.navbar ul li a:hover {
  color: lightgray;
}

.buyem {
  scale: 2;
  margin-left: 60px;
}

.link-container ul > li {
  margin: 0 25px;
}

.products-img {
  height: 200px;
  object-fit: contain;
}
.img-hover {
  position: absolute;
  z-index: 1;
}
.relative {
  position: relative;
}
.a-card {
  width: 300px;
  overflow: hidden;
  height: 500px;
}
.a-card:hover {
  background-color: lightgrey;
  cursor: pointer;
}
a {
  color: red;
}
.fa {
  font-size: 18px;
}
.add-cart-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: none;
  z-index: 2;
  color: darkgrey;
}
.add-cart-btn:hover {
  color: black;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.cart-icon {
  position: relative;
}
.cart-number {
  position: absolute;
  top: -2px;
  right: -6px;
  width: 17px;
  height: 17px;
  background-color: red;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.add-cart-btn:active {
  color: grey;
}
.card-container {
  display: flex;
}
.loading-state {
  margin: auto;
}
/* market page */
#select-product {
  padding: 5px;
  border: 0;
  border-bottom: 2px solid black;
}

.seachbar-container {
  position: relative;
}
.searchbar {
  margin: 20px 0;
  width: 50%;
  padding: 5px 5px 5px 75px;
}
.seachbar-container > button[type="button"] {
  position: absolute;
  bottom: 34%;
  right: 25.5%;
  background-color: transparent;
  border: none;
  color: grey;
}
.seachbar-container > button[type="button"]:active {
  color: black;
}
.seachbar-container > button[type="submit"] {
  position: absolute;
  bottom: 34%;
  left: 25%;
  background-color: transparent;
  border: none;
  color: grey;
}
.seachbar-container > button[type="button"]:active,
button[type="submit"]:active {
  color: black;
}

/* login page */

.login-container {
  margin: auto;
  margin-top: 11%;
  margin-bottom: 11%;
  width: 700px;
  height: 400px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.block-container {
  width: 80%;
  padding: 100px 50px;
}
.block {
  margin: 15px 0;
  position: relative;
}
.block > input {
  width: 100%;
  margin: 0 0;
  padding: 5px 0 5px 25px;
}
.login-icon {
  position: absolute;
  top: 38%;
  height: 15px;
  left: 5px;
}
.login-container > button {
  height: 400px;
  border: none;
  width: 20%;
  background-color: gray;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.account-nav > li {
  padding: 0 10px;
}
.bi,
.bi-cart {
  color: white;
}

/* cartcards component */
.order-summary {
  background-color: white;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.order-summary > * {
  margin: 20px 0;
}
.card-card-container {
  background-color: white;
}
.cart-product-link {
  width: 300px;
}
.cart-product-price {
  width: 100px;
}
.cart-image {
  object-fit: contain;
  height: 150px;
  width: 150px;
}
.one-card {
  border-bottom: 2px solid grey;
}
.one-card:hover {
  background-color: lightgrey;
}
.link-to-hover {
  text-align: start;
}
.link-to-hover:hover {
  color: whitesmoke;
}

.cart-quantity {
  position: relative;
  width: 120px;
}
.q-num {
  background-color: lightgrey;
  border-radius: 20px;
  border: none;
  padding: 10px;
  height: 45px;
}
.q-btn1 {
  padding: 10px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 0;
  top: 0%;
  height: 45px;
  border: none;
  background-color: grey;
  border-radius: 15px 0px 0px 15px;
}
.q-btn2 {
  padding: 10px;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 0px;
  top: 0%;
  height: 45px;
  border: none;
  background-color: grey;
  border-radius: 0 15px 15px 0;
}
/* footer */
.footer {
  padding: 50px;
  background-color: black;
  height: 500px;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
}
.footer {
  color: white;
}
.footer-content-header {
  border-bottom: 1px solid snow;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.footer a {
  text-decoration: none;
  list-style-type: none;
  color: lightgrey;
}
.footer ul {
  text-align: left;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
}
.footer-content .connect-with-us {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap;
}
.connect-with-us {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 15px;
}
.connect-with-us:hover {
  cursor: pointer;
}

.social-icon {
  margin: 10px;
  height: 30px;
}
/* account page */
.user-image {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* account page */
.account-select {
  padding: 10px;
  width: 300px;
  margin: auto;
  margin: 12px;
  background-color: white;
  border-radius: 10px;
}
.account-select:hover {
  background-color: gray;
}
.account-display {
  background-color: none;
  width: 500px;
  margin: 0 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.account-icon {
  width: 20px;
}

.container1 {
}
.container1 > div {
  margin: 10px 0;
  font-weight: 400;
}

.items-in-cart {
  color: grey;
}
.myaccount {
  font-size: 20px;
}
/* pagination */
.pagination img {
  padding-top: 5px;
  height: 20px;
  transform: scaleX(-1);
}
.pagination .left {
  transform: scaleX(1);
}
.pagination {
  padding: 10px 15px;
  margin: 0 2px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.pagination:hover {
  cursor: pointer;
  background-color: grey;
}

.products {
}

/* Home Page */
.menwomen {
  position: relative;
}
.men,
.women {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  font-size: 10rem;
  left: 20%;
  font-weight: bold;
}
.women {
  right: 15%;
}
.section-block,
.section-block-men,
.section-block-women {
  position: relative;
  width: 100%;
  height: 30vh;
  border: 2px solid white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
}
.section-block-men {
  background-position: 10% 20%;
  background-image: url("https://www.stylezeitgeist.com/wp-content/uploads/2023/01/Rick-Owens_FW23-Mens_2023_Stylezeitgeist-001-1536x1024.jpg");
}
.section-block-women {
  background-position: 10% 70%;
  background-image: url("https://wwd.com/wp-content/uploads/2023/06/front-row-rick-owens-mens-spring-2024-paris002.jpg?crop=0px%2C104px%2C1365px%2C763px&resize=1000%2C563");
}
.section-block-men:hover {
  background-position: 0;
  transition: 0.5s ease-out;
}
.section-block-women:hover {
  background-position: 20% 100%;
  transition: 0.5s ease-out;
}
.section-block:hover {
  background-position: 10% 60%;
  transition: 0.5s ease-out;
}
.etc {
  position: absolute;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 5rem;
  right: 15%;
  font-weight: bold;
}

.electronicsfont {
  left: 15%;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.jeweries {
  background-image: url("https://i.pinimg.com/736x/5f/8b/02/5f8b02c6702d964846e8cdc1a5b7b0e8.jpg");
}
.electronics {
  background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F03%2Frick-owens-spring-summer-2022-fogachine-fog-machine-coffee-table-mini-hand-held-objects-1.jpeg?cbr=1&q=90");
}
.others {
  /* background-image: url("https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F03%2Frick-owens-spring-summer-2022-fogachine-fog-machine-coffee-table-mini-hand-held-objects-1.jpeg?cbr=1&q=90"); */
}
.account-order-content th,
td {
  padding: 10px 40px;
}
td {
  text-wrap: nowrap;
}
/* active */

.active {
  color: white;
  background-color: black;
  transition: 0.5s;
}

/* product detail */
.product-detail {
  margin: auto;
  width: 1000px;
  padding: 150px 0;
}

.product-detail > img {
  width: 400px;
  margin: 0 30px;
}
.product-detail-detail {
  background-color: none;
  padding: 20px;
  text-wrap: wrap;
}
.product-detail-detail > div {
  /* margin-bottom: 20px; */
}

.detali-btn {
  margin-top: 30px;
}
.detali-btn > button {
  margin: 0 10px;
  padding: 5px 19px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.detali-btn > button:active {
  background-color: rgb(50, 50, 50);
}
.detail-option {
  margin: 0 10px;
  background-color: white;
  border-radius: 5px;
}
.detail-option > div {
  padding: 0 5px;
  margin: 0 10px;
  /* border-right: 2px solid black; */
}
.detail-option > select {
  border: none;
  border-bottom: 2px solid black;
}

/* Home content */

/* carousel */
.carousel {
  position: relative;
  margin: auto;
}
.carousel button,
.dots {
  position: absolute;
}
.carousel button img {
  height: 60px;
}
.carousel-pre {
  top: 45%;
  left: 5%;
}
.carousel-next {
  top: 45%;
  right: 5%;
}
.carousel button {
  opacity: 0.7;
  color: white;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
}
.carousel button:hover {
  opacity: 1;
  transition: 0.5s;
}
.carousel-img-container {
  width: 100%;
  overflow: hidden;
  height: 800px;
}
.carousel-img {
  object-fit: cover;
  max-width: 100%;
  height: 800px;
}
.left-carousel {
  transform: rotate(0.5turn);
}
.dots {
  /* xl48 */
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.aDot {
  height: 15px;
  margin: 10px 20px;
  opacity: 0.5;
}
.aDot:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
.activeDot {
  opacity: 1;
}

.x {
  opacity: 0.3;
}
/* article */

.article a {
  text-decoration: none;
  color: black;
  text-align: left;
}
.article-content {
  border: 1px solid lightgray;
  margin: 20px auto;
  padding: 10px;
}
.filter-option > div {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.7s;
}
.filter-option > div:hover {
  cursor: pointer;
  text-decoration: underline 0.15em rgba(0, 0, 0, 1);
}
.article-content > div > div {
  margin: 10px 0;
}

.article img {
  object-fit: cover;
  height: 300px;
  width: 500px;
}

.article-img-container {
  object-fit: contain;
  object-position: center;
  padding: 50px;
}
.article-img-container > img {
  height: 450px;
}
.article-detail-content {
  margin: 0 10%;
}

.login-text {
  padding: 200px 0 200px 0;
}
.login-message {
  padding: 90px 0 80px 0;
}
/* medium screen */
@media screen and (max-width: 767px) {
  .buyem {
    scale: 1.8;
    margin-left: 30px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  .link-container {
    width: 100%;
  }
  .carousel-img-container {
    height: 400px;
  }
  .carousel-img {
    height: 400px;
  }

  .men,
  .women {
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 4rem;
    left: 30%;
    top: 20%;
    font-weight: bold;
  }
  .etc {
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    font-size: 2rem;
    top: 10%;
    right: 5%;
    font-weight: bold;
  }
  .electronicsfont {
    left: -1%;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }
  .cart-icon svg {
    height: 20px;
    width: 20px;
  }

  .carousel button img {
    height: 30px;
  }

  * {
    font-size: 0.8rem;
  }

  .article img {
    object-fit: cover;
    height: 200px;
    width: 350px;
    margin: auto;
  }

  .article-content {
    display: flex;
    flex-direction: column;
  }
  .article-content > div > div {
    margin: 5px 0;
  }
}

.article-text-info {
  padding: 50px;
}

/* mobile */
@media (max-width: 576px) {
  .article-container {
    display: flex;
    flex-direction: column;
  }
  .article-img-container > img {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .article-img-container {
    padding: 0;
  }
  .article-image-container {
    text-align: center;
  }
  .article img {
    object-fit: cover;
    height: 200px;
    width: 350px;
    margin: auto;
  }
  .article-text-info {
    padding: 10px;
  }
  .account-info {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .user-image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }

  .account-content {
    display: flex;
    flex-direction: column;
  }

  .account-content-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .account-select {
    width: 100px;
    /* padding: 10px;
    margin: auto;
    margin: 12px;
    background-color: white;
    border-radius: 10px; */
  }
  .account-select {
    justify-content: center;
    align-items: center;
  }
  .account-content-block {
    width: 100%;
  }
  .middle {
    margin: 30px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .filter-option {
    display: flex;
    flex-direction: row;
  }
  .aDot {
    height: 10px;
    opacity: 0.5;
  }
  .bar-name {
    font-size: 0.5rem;
  }
}

/* mobile */
@media (max-width: 575.98px) {
  .product-detail {
    margin: auto;
    width: 300px;
    /* padding: 150px 0;
    padding-left: 60px; */
  }
  .product-detail > img {
    width: 150px;
    object-fit: contain;
    margin: 0 0;
  }
  .product-detail-detail {
    padding: 0;
    transform: scale(0.8);
  }
  .detail-option {
    margin: 0 0;
    background-color: white;
    border-radius: 5px;
  }
  .detail-option > div {
    padding: 0;
    margin: 0;
  }
  .social-icon {
    margin: 10px 5px;
    height: 20px;
  }
  .a-card {
    width: 300px;
    overflow: hidden;
    height: 300px;
  }
  .products-img {
    height: 150px;
    object-fit: contain;
  }
  .searchbar {
    margin: 20px 0;
    width: 70%;
    padding: 5px 5px 5px 60px;
  }
  .seachbar-container > button[type="button"] {
    position: absolute;
    bottom: 37%;
    right: 15.75%;
    background-color: transparent;
    border: none;
    color: grey;
  }
  .seachbar-container > button[type="button"]:active {
    color: black;
  }
  .seachbar-container > button[type="submit"] {
    position: absolute;
    bottom: 38%;
    left: 15%;
    background-color: transparent;
    border: none;
    color: grey;
  }
  .account-display {
    background-color: none;
    width: 90%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
  }
  .cart-quantity {
    position: relative;
    width: 100px;
  }
  .order-summary {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .q-num {
    padding: 10px;
    height: 35px;
  }
  .q-btn1 {
    padding: 10px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 0;
    top: 0%;
    height: 35px;
    border: none;
    background-color: grey;
    border-radius: 15px 0px 0px 15px;
  }
  .q-btn2 {
    padding: 10px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 0px;
    top: 0%;
    height: 35px;
    border: none;
    background-color: grey;
    border-radius: 0 15px 15px 0;
  }
  .login-container {
    margin: auto;
    margin-top: 11%;
    margin-bottom: 11%;
    width: calc(700px / 2);
    height: calc(400px / 2);
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .block-container {
    width: 80%;
    padding: 0 0;
  }
  .block {
    margin: 15px 0;
    margin: 15px 10px;
    position: relative;
  }
  .block > input {
    width: 100%;
    margin: 0 10px;
    padding: 5px 0 5px 25px;
  }
  .login-icon {
    position: absolute;
    top: 22%;
    height: 15px;
    left: 5%;
  }
  .login-container > button {
    height: 100%;
    border: none;
    width: 20%;
    background-color: gray;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  .cart-product-link {
    width: 150px;
  }
  .cart-product-price {
    width: 50px;
  }
  .cart-image {
    object-fit: contain;
    height: 150px;
    width: 150px;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  padding: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  color: white;
}
